// Import dependencies
@use "./vars" as *;
@use "./mixins" as *;
@use "sass:color";

// Global resets
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

// HTML and body resets
html,
body {
	height: 100%;
}

// Image resets
img {
	max-width: 100%;
}

// Text resets
p {
	word-wrap: break-word;
}

// Input type-specific resets
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
	font-size: $font-size-base;
}

// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

// Firefox
input[type="number"] {
	-moz-appearance: textfield;
}

// Placeholder styles
%placeholder-commons {
	font-size: 14px;
	color: #909090;
}

// Apply placeholder styles to different browsers
::-webkit-input-placeholder {
	/* Edge */
	@extend %placeholder-commons;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	@extend %placeholder-commons;
}

::placeholder {
	@extend %placeholder-commons;
}
